li{
    display: inline;
    color: white;
}
.inline{
    display: inline;
}
body{
    background-color: #0A192F;
    margin: 10px;
    background-image: url("../MuchaTseBle (2).jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
b{
    color: #3C998E;
}
.logo{
    max-height: 40px;
    max-width: 40px;
    height: auto;
    width: auto;
    clip-path: circle(50%);
    border-radius: 50%;
    border: solid aliceblue 2px;
}
li:hover{
    color: lightgray;
    border: solid lightgray 2px;
    border-radius: 5px;
}
li:active{
    color: #3C998E;
    border-color: #3C998E;
    background-color: #112d57;
}
li:visited{
    text-decoration: none;
}
.divMenu{
    background-image: linear-gradient(to top, transparent, black);
    display: flex;
    flex-direction: row;
}
.divLogo{
    width: 6%;
    display: flex;
    justify-content: center;align-items: center;
    padding-right: 44%;
}
.divCorpo{
    padding: 50px;
}
.divOpt{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-around;
}
p{
    text-align: justify;
}