li{
    display: inline;
    color: white;
}
#imagem{
    max-height: 300px;
    height: auto;
    width: auto;
    clip-path: circle(50%);
    border-radius: 50%;
    border: solid #3C998E 3px;
}
body{
    background-color: #0A192F;
    margin: 10px;
    background-image: url("./assets/MuchaTseBle (2).jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
b{
    color: #3C998E;
}
p{
    text-align: justify;
}
.corTexto{
    color: lightgray;
}
.logo{
    max-height: 40px;
    max-width: 40px;
    height: auto;
    width: auto;
    clip-path: circle(50%);
    border-radius: 50%;
    border: solid aliceblue 2px;
}
.divLogo{
    width: 6%;
    display: flex;
    justify-content: center;align-items: center;
    padding-right: 44%;
}
.divOpt{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-around;
}
li:hover{
    color: lightgray;
    border: solid lightgray 2px;
    border-radius: 5px;
}
li:active{
    color: #3C998E;
    border-color: #3C998E;
    background-color: #112d57;
}
li:visited{
    text-decoration: none;
}
.divMenu{
    background-image: linear-gradient(to top, transparent, rgb(61, 61, 61));
    display: flex;
    flex-direction: row;
    height: 6vh;
    justify-content: space-around;
}
#divTexto{
    float: left;
    width: 60%;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    justify-content: center;
}
#divFoto{
    display: flex;
    float: left;
    width: 40%;
    justify-content: center;
    align-items: center;
}
#conteudo{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
}
#rodape{
    display: flex;
    height: 10vh;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: linear-gradient(to top, #3c998ec7, transparent);
    font-size: 13px;
}
#logo{
    max-height: 25px;
    max-width: 25px;
    height: auto;
    width: auto;
}

@media(max-width: 750px) {
    body{
        background-position: 100%;
        background-clip: content-box;
    }
    #conteudo{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #imagem{
        max-height: 100px;
    }
    #divTexto{
        font-size: medium;
        margin-right: 0px;
        text-align:center;
        width: 100%;
    }
    .divOpt{
        display: flex;
        flex-direction: row;
        font-size:x-small;
        flex-wrap: wrap;
        width: 89%;
    }
    .divMenu{
        justify-content: space-between;
    }
    .divLogo{
        padding-left: 15px;
        padding-right: 5%;
    }
    .logo{
        max-width: 35px;
    }
    footer p{
        font-size: 8px;
    }
    #logo{
        max-width: 15px;
    }
}